{{#if_eq class "none" }}
  <div class="image">
    <img src="/public/{{../src}}" alt="{{alt}}">
  </div>
{{/if_eq}}

{{#if_eq class "single" }}
  <div class="image">
    <img class="pswp-image" src="/public/{{../src}}" alt="{{alt}}" data-width="{{img_width ../src @root}}" data-height="{{img_height ../src @root}}">
  </div>
{{/if_eq}}
